@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Poppins', sans-serif; */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, p, span, div {
	transition: color 50ms;
} 

/* DARKMODE */
.text-dark {
	color: rgb(240 240 240);
}
.title-dark {
	color: rgb(228 228 231);
}
.subtitle-dark {
	color: rgb(161 161 170);
}
.description-dark {
	color: rgb(161 161 170);
}
.section-bg-dark {
	background: #070709;
}
/* LIGHTMODE */
.text-light {
	color: rgb(10, 10, 10);
}
.title-light {
	color: rgb(20, 20, 20);
}
.subtitle-light {
	color: rgb(45, 45, 45);
}
.description-light {
	color: rgb(45, 45, 45);
}
.section-bg-light {
	background: #EEEEF3;
}

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

/* Scrollbar width */
::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
  
/* Scrollbar Track */
::-webkit-scrollbar-track {
	background: transparent;
}
  
/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
	background: #866bfe;
}

/* Text selection */
::-moz-selection { /* Code for Firefox */
	color: white;
	background: #5a43be;
}
  
::selection {
	color: white;
	background: #866bfe;
}

/* Remove autofull background on inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

select {
	user-select: none;
}

select option {
    color: white;
    background: black;
}

button.btn-primary {
    box-shadow: 0px 0px 20px rgb(134 107 254 / .3);
}

button.btn-primary:hover {
    box-shadow: 0px 0px 20px rgb(90 67 190 / .3);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
    display: none;
  }

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.blur-shadow {
    position: absolute;
    width: 25rem;
    height: 18rem;
    box-shadow: 10px 10px 200px rgb(134 107 254 / .2);
    background: rgb(134 107 254 / .2);
    border-radius: 50%;
    filter: blur(100px);
}

.dropdown-description-show {
    animation-name: dropdown-description-show;
    animation-duration: .4s;
}

.dropdown-description-hide {
    animation-name: dropdown-description-hide;
    animation-duration: .25s;
}

@keyframes dropdown-description-show {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes dropdown-description-hide {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(50px);
    }
}

.text-gradient {
	background: -webkit-linear-gradient(rgb(99, 165, 241), rgb(99 102 241));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bg-gradient {
	background: linear-gradient(45deg, rgb(76 78 149) 0%, rgb(120, 122, 255) 100%);
}

.text-color-animation {
	animation: color-change 10s infinite;
}

@keyframes color-change {
	0% {
		color: rgb(99 102 241);
	}

	50% {
		color: rgb(99, 137, 241);
	}

	100% {
		color: rgb(99 102 241);
	}
}

.modal-open {
	animation-name: modal-open;
	animation-duration: .2s;
	animation-timing-function: ease-in-out;
}

@keyframes modal-open {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.modal-close {
	animation-name: modal-close;
	animation-duration: .2s;
	animation-timing-function: ease-in-out;
}

@keyframes modal-close {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.full-screen-menu-open {
	animation-name: quote-project-open;
	animation-duration: .3s;
	animation-timing-function: ease-in-out;
}

@keyframes quote-project-open {
	from {
		opacity: .5;
		right: -100vw;
		transform: translateY(-100vh);
	}
	to {
		right: 0;
		opacity: 1;
		transform: translateY(0);
	}
}

.full-screen-menu-close {
	animation-name: quote-project-close;
	animation-duration: .3s;
	animation-timing-function: ease-in-out;
}

@keyframes quote-project-close {
	from {
		right: 0;
		opacity: 1;
		transform: translateY(0);
	}
	to {
		opacity: 0;
		right: -100vw;
		transform: translateY(-100vh);
	}
}

.lazy-load-1 {
	animation-name: lazy-load-1;
	animation-duration: .7s;
	animation-timing-function: ease-in-out;
}

@keyframes lazy-load-1 {
	0% {
		display: none;
		opacity: 0;
		transform: translateY(5rem);
	}
	70% {
		display: block;
		opacity: 0;
		transform: translateY(5rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.lazy-load-2 {
	animation-name: lazy-load-2;
	animation-duration: .9s;
	animation-timing-function: ease-in-out;
}

@keyframes lazy-load-2 {
	0% {
		display: none;
		opacity: 0;
		transform: translateY(5rem);
	}
	70% {
		display: block;
		opacity: 0;
		transform: translateY(5rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.lazy-load-3 {
	animation-name: lazy-load-3;
	animation-duration: 1.1s;
	animation-timing-function: ease-in-out;
}

@keyframes lazy-load-3 {
	0% {
		display: none;
		opacity: 0;
		transform: translateY(5rem);
	}
	70% {
		display: block;
		opacity: 0;
		transform: translateY(5rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.lazy-load-4 {
	animation-name: lazy-load-4;
	animation-duration: 1.3s;
	animation-timing-function: ease-in-out;
}

@keyframes lazy-load-4 {
	0% {
		display: none;
		opacity: 0;
		transform: translateY(5rem);
	}
	70% {
		display: block;
		opacity: 0;
		transform: translateY(5rem);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.login-card {
	width: calc(100vw - 5rem);
	height: calc(100vh - 5rem);
}

@media (max-width: 640px) {
	.login-card {
		width: calc(100vw);
		height: calc(100vh);
	}	
}

.project-description {
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.rdp {
	margin: 0 !important;
}

.video-call-select option {
	background-color: rgba(0, 0, 0, 1);
}